<!DOCTYPE html>
<html>
	<head>
			<title>Vocalfun | Home</title>
	</head>
	<body>
		<h1>Vocalfun</h1>
		<p>
		This is the home page for Vocal fun starting with the inspirational words of Dr. Douglas Stanley!
		</p>
	</body>
</html>
